*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #BEDBFF;
    background-image: url();
    
}

h1{
    color: #C27AFF;
    background-color: #BEDBFF;
    font-family: 'Sekuya', sans-serif;
    text-decoration: underline;
    font-size: 40px;
}
.odd{
    font-size: 20px;
    color: #2C92B8;
    padding: 10px;
}
.even{
    font-size: 20px;
    color: #2C92B8;
    padding: 10px;

}

.div{
   padding: 30px;
   border: solid 2px #27272A;
   border-radius: 10px;
}
.odds{
    font-size: 30px;
    color: #2C92B8;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    display: inline-block;
    margin: 15px;
}
.div2{
    /* background: linear-gradient(#aa74b3 #b0745e); */
    /* border: 2px solid #fff; */
}
p{
    font-size: 30px;
    padding: 10px
    /* background-image: url(); */
}

.box2{
    width: 200px;
    height: 250px;
    border: 3px solid;
    margin: 10px;
    float: left;
    font-size: 30px;
    background-color: #CE93D8;
    padding-left: 40px;
}